#contenedor{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;


}

#derecha{
	width: 280px;
	height: 700px;
	margin: auto;
        background-color:#CCFF89;
        float:rigth;
	position: relative;
	overflow-wrap: break-word;
	
}
#left3{
        text-align:left;
        margin: 5px
        


}

}
.justify{
        text-align:justify;
        margin:
        


}



body{
	background-image: url(../img/fondo.png);
	background-repeat: no repeat;
	background-size: cover;

}

h2{
	font-family: verdana;
	color:#004669;
	margin-left: 20px;
	font-size: 25px;
	text-align: left;
}
h3{
	font-family: verdana;
	color: white;
	margin-left: 25px;
	font-size: 25px;
	text-align: left;
}

h4{
	font-family:verdana;
	color: red;
	margin-left: 10px; 
	margin-top: 15px;
	font-size: 25px;
	text-aling: center;
}

header{

	width: 1000px;
	height: 410px;
	margin-riht: auto;


}

nav{

	width: 1050px;
	height: 130px;
	background:#ffffff;
	border: solid;
	border-color: #004669;
	border-radius-left: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

ul{

	margin: auto;
	padding-top: 4px;
}

li{

	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 4px;

}


a{
	text-decoration: none;
	font-size: 33px;
	color: #004669;

}
.a1{
	text-decoration: none;
	font-size: 16px;
	color: #004669;

}
section{

	width: 700px;
	background:white;
	height: 600px;
	float: left;
	margin-top: 15px;
	border-radius: 20px;
	
}

aside{
	width: 280px;
	background: white;
	height: 700px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 20px;
	
}

footer{
	width: 1000px;
	height: 100px;
	background: #004669;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 20px;

}



p{
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
} ¨

//#section {
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}

¡important